.navbar {
     background: #54fc94;
 }

 .barra-navegacion {
     background: #1e32eb;
 }

 .boton-navegacion {
     color: white;
 }

 .barra-busqueda {
     margin-top: 5%;
 }

 .titulo {
     font-size: 50px;
     margin-top: 15%;
 }