/* header */

header nav a:hover {
    color: #fff;
    text-decoration: underline;
    background: #010e81;
}

 .barra-navegacion {
     background: #1e32eb;
 }

 .boton-navegacion {
     color: #fff;
 }

/* Main */

body {
    background:  #eee9eb;
}

 .barra-busqueda {
     margin-top: 5%;
 }

 .titulo {
     font-size: 50px;
     margin-top: 15%;
 }
 